*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter",sans-serif;
    font-size: 20px;   
}

/* CABEÇALHO INÍCIO */


    /* PARTE CINZA */
.header__initial{
    background-color: #303030;
    height: 475px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 62px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header__initial-title{
    font-size: 60px;
    margin-bottom: 20px;
}

    /* CABEÇALHO COM NÚMEROS */
.header__information{
    height: 229px;
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    gap: 150px;
    align-items: center;
    background-color: #F9F9F9;
}
.header__information-number{
    font-weight: bold;
    font-size: 40px;
}
/* CABEÇALHO FIM */


/* CONTEÚDO PRINCIPAL INÍCIO*/
.container{
    display: grid;
    grid-auto-flow: column;
    gap: 64px;
    padding: 92px 50px;
    text-align: justify;
    align-items: center;
}

    /* TEXTO DO CONTAINER */
.container__text-title{
    font-size: 40px;
}

.container__text-paragraph{
    font-size: 20px;
}

.container__image{
    width: 510px;
    height: 605px;
}
/* CONTEÚDO PRINCIPAL FIM */


/* RODAPÉ INÍCIO */
.footer{
    height: 638px;
    background-color: #303030;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

    /* TÍTULO NO RODAPÉ */
.footer__title{
    font-size: 32px;
}

    /* FORMULÁRIO NO RODAPÉ */
.footer__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 62px;
}

.footer__form-input{
    width: 508px;
    height: 72px;
    font-size: 20px;
    padding: 0px 20px;
    border: none;
    border-radius: 10px;
}

.footer__form-button{
    width: 286px;
    height: 74px;
    font-size: 30px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: #C07212;
    color: #fff;
    margin-top: 24px;
    font-family: "Raleway", sans-serif;
}